.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--modal-overlay);
  backdrop-filter: blur(5px);
  opacity: 0;

  z-index: 1000;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 20px;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  background: var(--white);
  border-radius: 12px;
  width: 100%;
}

@media (min-width: 768px) {
  .modalOverlay {
    padding: 0;
  }

  .modal {
    max-width: 600px;

    &.notification {
      max-width: 500px;
    }
  }
}
