.socialLinks.mobileNavSocialLinks {
  padding: 0 20px;
  display: flex;
  gap: 12px;
}

.socialLinks.horizontal {
  flex-direction: row;
  align-items: center;
}

.socialLinks.vertical {
  flex-direction: column;
  align-items: flex-start;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-170);
  color: var(--neutral-700);
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
