.reviewModal {
  position: relative;
  text-align: center;
  padding: 30px;
}

.closeModal {
  position: absolute;
  top: 16px;
  right: 16px;

  & > svg {
    min-width: 24px;
  }
}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  margin-bottom: 24px;
  color: var(--neutral-700);
}

.avatar {
  max-width: 100px;
  img {
    border-radius: 50%;
  }
}

.authorDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

@media (min-width: 469px) {
  .reviewModal {
    text-align: left;
  }
  .head {
    flex-direction: row;
    text-align: left;
    gap: 24px;
    margin-bottom: 32px;
  }
  .author {
    align-items: start;
  }

  .authorDesc {
    align-items: start;
  }
}
