.aboutUs {
  padding: 50px 0;
  background-color: var(--white);
}

@media (min-width: 1024px) {
  .aboutUs {
    padding: 100px 0;
  }
}

.container {
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
    text-align: start;
  }
}

.aboutUsWrapp {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;

  & img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
  }
}

@media (min-width: 1024px) {
  .aboutUsWrapp {
    flex-direction: row;

    img {
      min-width: 480px;
      max-width: 480px;
    }
  }
}

@media (min-width: 1180px) {
  .aboutUsWrapp {
    gap: 80px;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
