.assortment {
  margin-top: 100px;
}

.container {
}

.itemList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
  gap: 20px;
  align-items: stretch;
}

@media (min-width: 580px) {
  .itemList {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (min-width: 810px) {
  .itemList {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}

.itemList > * {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  margin-bottom: 16px;
  width: 100%;
  height: 200px;
  flex-shrink: 0;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  gap: 24px;
}

.textContent {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  margin-bottom: 12px;
  flex-shrink: 0;
}

.description {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;

  max-height: 200px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2px;
  }
}
