.contacts {
  h3 {
    margin-bottom: 32px;
  }
}

.container {
}

.contactCard {
  outline: 1px solid var(--neutral-200);
  border-radius: 8px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--white);
  box-shadow: var(--shadow-md);
}

.contactsWrapp {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 20px;
}

@media (min-width: 1024px) {
  .contactsWrapp {
    grid-template-columns: 680px 1fr;
  }
}

.list {
  & > *:not(:last-child) {
    margin-bottom: 12px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  & > svg {
    min-width: 24px;
    height: 24px;
  }

  line-height: var(--line-height-160);
  font-size: var(--font-size-base);

  &:hover {
    color: var(--primary-700);
  }
}
