.hero {
  padding: 82px 0 30px 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--neutral-200);
}

@media (min-width: 428px) {
  .hero {
    padding: 100px 0 50px 0;
  }
}
@media (min-width: 1025px) {
  .hero {
    padding: 116px 0 100px 0;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 32px;
}

@media (min-width: 935px) {
  .container {
    flex-direction: row;
    text-align: left;
  }
}

@media (min-width: 1180px) {
  .container {
    gap: 80px;
  }
}

.image {
  min-width: 335px;
  min-height: 330px;
}

@media (min-width: 428px) {
  .image {
    min-width: 370px;
    min-height: 350px;
  }
}

@media (min-width: 768px) {
  .image {
    min-width: 480px;
    min-height: 452px;
  }
}

.box {
  button {
    width: 100%;
  }
}

@media (min-width: 690px) {
  .box {
    button {
      width: fit-content;
    }
  }
}

.textContent {
  margin-bottom: 32px;
}

@media (min-width: 1180px) {
  .textContent {
    margin-bottom: 48px;
  }
}

.description {
  p {
    font-size: var(--font-size-md);
    margin-bottom: 24px;
  }
}

.advantagesList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-160);
    background-color: var(--neutral-100);
    color: var(--neutral-500);
  }
}

@media (min-width: 690px) {
  .advantagesList {
    justify-content: center;

    & > li {
      display: inline-block;
      width: fit-content;
    }
  }
}

@media (min-width: 935px) {
  .advantagesList {
    justify-content: start;
  }
}
