.title {
  text-align: center;
  margin-bottom: 42px;
  div {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-140);
    margin-bottom: 4px;
    color: var(--primary-600);
    text-align: center;
  }
}

@media (min-width: 1024) {
  .title {
    margin-bottom: 50px;
  }
}
