.footer {
  padding: 32px 0;
  background-color: var(--white);
  border-top: 1px solid var(--neutral-200);
}

.container {
}

.footerHead {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  padding-bottom: 24px;
  border-bottom: 1px solid var(--neutral-200);

  & > svg {
    min-width: 126px;
    height: 22px;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navLink {
  color: var(--neutral-500);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
}

.footerBottom {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 24px;
}

.footerInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-140);
  & > * {
    color: var(--neutral-500);
  }

  & > a {
    transition: all 0.3s ease;
    &:hover {
      color: var(--primary-700);
    }
  }

  margin-bottom: 16px;
}

.listItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.listItemLink {
  & > svg {
    min-width: 30px;
  }
}

@media (min-width: 428px) {
  .footerHead > svg {
    min-width: 147px;
    height: 26px;
  }
}

@media (min-width: 568px) {
  .footerHead {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 48px;
  }

  .navList {
    flex-direction: row;
  }

  .navLink {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-140);
  }

  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
  }

  .footerInfo {
    flex-direction: row;
    gap: 48px;

    font-size: var(--font-size-xs);
    line-height: var(--line-height-140);

    margin-bottom: 0;
  }

  .listItems {
    justify-content: start;
  }
}

@media (min-width: 791px) {
  .footerHead > svg {
    min-width: 180px;
    height: 32px;
  }
}

@media (min-width: 1025px) {
  .footerHead > svg {
    min-width: 210px;
    height: 37px;
  }
}
