.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-top: 1px solid var(--neutral-200);
}

.mobileMenu.open {
  visibility: visible;
  opacity: 1;
}

.mobileMenuContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background: var(--white);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mobileMenu.open .mobileMenuContent {
  transform: translateX(0);
}

.mobileNav {
  overflow-y: auto;
}

.mobileNavList {
  & > * {
    padding: 16px 20px;
    border-bottom: 1px solid var(--neutral-200);
  }
}

.mobileNavLink {
  width: 100%;
  text-align: left;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-160);
}

.listItems {
  padding: 20px 20px 0 20px;
  & > * {
    margin-bottom: 16px;
  }
}

.listItem {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: var(--font-size-sm);
  line-height: var(--line-height-160);

  & > * {
    color: var(--neutral-700);
  }

  & > svg {
    min-width: 22px;
    height: 22px;
  }

  &.phone {
    display: flex;
  }
}

@media (min-width: 428px) {
  .listItem.phone {
    display: none;
  }
}
