.advantages {
  padding: 50px 0;
  background-color: var(--white);
  border-top: 1px solid var(--neutral-200);
  border-bottom: 1px solid var(--neutral-200);
}

@media (min-width: 1024px) {
  .advantages {
    padding: 100px 0;
  }
}

.container {
  text-align: center;
  & > button {
    width: 100%;
  }
}

@media (min-width: 690px) {
  .container {
    & > button {
      width: fit-content;
    }
  }
}

.itemList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 42px;
}

@media (min-width: 580px) {
  .itemList {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

@media (min-width: 1024px) {
  .itemList {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
