.spoilers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .spoilers {
    grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
  }
}
